doctype html
html(lang='es')
  include includes/head.pug
  body
    include includes/header.pug

    include includes/float-form.pug

    .content-page
      section#home-services.fluid-section
        .boxes-services
          .box-service.box-architecture
            .box-service-top.d-none.d-md-block
              .box-servie-top-content
                img(src="images/architecture.png")
                h3 ARQUITECTURA
                .service-back(data-section="left")
                  a(href="#")
                    img(src="images/back_icon.svg")
            .box-service-wrapper
              .box-service-wrap.box-service-toggle.fade.show(data-section="left")
                .box-service-wrap-content
                  .row.no-gutters.justify-content-md-end.align-items-center
                    .col-2.offset-1.offset-md-0
                      figure.main-image
                        img(src="images/architecture.svg")
                    .col-3.col-md-3
                      .number-service
                        h5 1
                    .col-5.col-md-6
                      .desc-service
                        .title-service
                          h4 ARQUITECTURA
                        .desc-service
                          p Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              .box-service-opened.fade
                .box-service-opened-wrap
                  .row.no-gutters.justify-content-center.align-items-center
                    .col-12.col-md-5
                      .box-service-opened-content
                        .row.no-gutters.align-items-center
                          .col-3.col-md-4.offset-1.offset-md-0
                            figure.ico-service
                              img(src="images/arquitectura_oficinas.svg")
                              figcaption OFICINAS
                          .col-6.col-md-7.offset-1
                            .desc-service
                              p Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    .col-12.col-md-5
                      .box-service-opened-content
                        .row.no-gutters.align-items-center
                          .col-3.col-md-4.offset-1.offset-md-0
                            figure.ico-service
                              img(src="images/arquitectura_retail.svg")
                              figcaption RETAIL
                          .col-6.col-md-7.offset-1
                            .desc-service
                              p Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        
          .box-service.box-construction
            .box-service-top.d-none.d-md-block
              .box-servie-top-content
                img(src="images/construction.png")
                h3 CONSTRUCCIÓN
                .service-back(data-section="right")
                  a(href="#")
                    img(src="images/back_icon.svg")
            .box-service-wrapper
              .box-service-wrap.box-service-toggle.fade.show(data-section="right")
                .box-service-wrap-content
                  .row.no-gutters.align-items-center
                    .col-2.offset-1.offset-md-0
                      figure.main-image
                        img(src="images/construction.svg")
                    .col-3.col-md-4
                      .number-service
                        h5 2
                    .col-5.col-md-6
                      .desc-service
                        .title-service
                          h4 CONSTRUCCIÓN
                        .desc-service
                          p Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              .box-service-opened.fade
                .box-service-opened-wrap
                  .row.no-gutters.justify-content-center.align-items-center
                    .col-12.col-md-5
                      .box-service-opened-content
                        .row.no-gutters.align-items-center
                          .col-3.col-md-5.offset-1.offset-md-0
                            figure.ico-service
                              img(src="images/construccion_construccion.svg")
                              figcaption.force-black CONSTRUCCIÓN
                          .col-6.col-md-6.offset-1
                            .desc-service
                              p Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    .col-12.col-md-5
                      .box-service-opened-content
                        .row.no-gutters.align-items-center
                          .col-3.col-md-5.offset-1.offset-md-0
                            figure.ico-service
                              img(src="images/construccion_implementacion.svg")
                              figcaption.force-black IMPLEMENTACIÓN
                          .col-6.col-md-6.offset-1
                            .desc-service
                              p Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        .with-arrow

    .wrap-process-nav.d-none.d-lg-block
      #services-process-nav
        mixin process(val, index)
          .box-nav-process(class=index % 2 == 0 ? '' : 'box-nav-top')
            .box-nav-number
              span=index >= 9 ? index + 1 : "0" + (index + 1)
            .box-nav-text
              span=val

        //- each val, index in ['conceptualización', 'distribución espacial', 'planimetria arquitectónica', 'selección de acabados', 'ingenierías de detalle', 'ejecución', 'implementación de mobiliano', 'planificación', 'control de calidad', 'cierre', 'conceptualización', 'distribución espacial', 'planimetria arquitectónica', 'selección de acabados', 'ingenierías de detalle', 'ejecución', 'implementación de mobiliano', 'planificación', 'control de calidad', 'cierre']
        each val, index in ['conceptualización', 'distribución espacial', 'planimetria arquitectónica', 'selección de acabados', 'ingenierías de detalle', 'ejecución', 'implementación de mobiliano', 'planificación', 'control de calidad', 'cierre']
            +process(val, index)

      .wrap-process-carousel
        #services-process
            mixin process-content(val, index)
              .single-process
                .row
                  .col-12.col-lg-3.col-xl-2
                    figure.single-process-img
                      - img="images/process/proceso" + (index + 1) + ".svg"
                      img(src=img)
                  .col-12.col-lg-6.col-xl-7
                    .d-table
                      .d-table-cell
                        .single-process-content
                          h3=val
                          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            each val, index in ['conceptualización', 'distribución espacial', 'planimetria arquitectónica', 'selección de acabados', 'ingenierías de detalle', 'ejecución', 'implementación de mobiliano', 'planificación', 'control de calidad', 'cierre']
                +process-content(val, index)
          
        .process-bottom
          h5 PROCESO

    .wrap-process-nav.d-block.d-lg-none
      h3.block-black PROCESOS
      .boxes-plans
        #plans-accordion(role='tablist')
            .card.content-plan
                #headingOne.card-header(role='tab')
                  h2.mb-0
                      a(data-toggle='collapse', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                          | 01. conceptualización
                          .accordion-ico
                              .horizontal
                              .vertical
                #collapseOne.collapse.show(role='tabpanel', aria-labelledby='headingOne', data-parent='#plans-accordion')
                  .card-body.box-plan
                      .row
                        .col-4
                          figure.single-process-img
                            img(src="images/process/proceso1.svg")
                        .col-8
                          .d-table
                            .d-table-cell
                              .single-process-content
                                h3=val
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            .card.content-plan
                #headingTwo.card-header(role='tab')
                    h2.mb-0
                        a.collapsed(data-toggle='collapse', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                            | 02. distribución espacial
                            .accordion-ico
                                .horizontal
                                .vertical
                #collapseTwo.collapse(role='tabpanel', aria-labelledby='headingTwo', data-parent='#plans-accordion')
                    .card-body.box-plan
                        .row
                          .col-4
                            figure.single-process-img
                              img(src="images/process/proceso2.svg")
                          .col-8
                            .d-table
                              .d-table-cell
                                .single-process-content
                                  h3=val
                                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            .card.content-plan
                #headingThree.card-header(role='tab')
                    h2.mb-0
                        a.collapsed(data-toggle='collapse', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                            | 03. planimetria arquitectónica
                            .accordion-ico
                                .horizontal
                                .vertical
                #collapseThree.collapse(role='tabpanel', aria-labelledby='headingThree', data-parent='#plans-accordion')
                    .card-body.box-plan
                        .row
                          .col-4
                            figure.single-process-img
                              img(src="images/process/proceso3.svg")
                          .col-8
                            .d-table
                              .d-table-cell
                                .single-process-content
                                  h3=val
                                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            .card.content-plan
                #headingFour.card-header(role='tab')
                  h2.mb-0
                      a.collapsed(data-toggle='collapse', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                          | 04. selección de acabados
                          .accordion-ico
                              .horizontal
                              .vertical
                #collapseFour.collapse(role='tabpanel', aria-labelledby='headingFour', data-parent='#plans-accordion')
                  .card-body.box-plan
                      .row
                        .col-4
                          figure.single-process-img
                            img(src="images/process/proceso4.svg")
                        .col-8
                          .d-table
                            .d-table-cell
                              .single-process-content
                                h3=val
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            .card.content-plan
                #headingFive.card-header(role='tab')
                    h2.mb-0
                        a.collapsed(data-toggle='collapse', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                            | 05. ingenierías de detalle
                            .accordion-ico
                                .horizontal
                                .vertical
                #collapseFive.collapse(role='tabpanel', aria-labelledby='headingFive', data-parent='#plans-accordion')
                    .card-body.box-plan
                        .row
                          .col-4
                            figure.single-process-img
                              img(src="images/process/proceso5.svg")
                          .col-8
                            .d-table
                              .d-table-cell
                                .single-process-content
                                  h3=val
                                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            .card.content-plan
                #headingSiz.card-header(role='tab')
                    h2.mb-0
                        a.collapsed(data-toggle='collapse', href='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                            | 06. ejecución
                            .accordion-ico
                                .horizontal
                                .vertical
                #collapseSix.collapse(role='tabpanel', aria-labelledby='headingSiz', data-parent='#plans-accordion')
                    .card-body.box-plan
                        .row
                          .col-4
                            figure.single-process-img
                              img(src="images/process/proceso6.svg")
                          .col-8
                            .d-table
                              .d-table-cell
                                .single-process-content
                                  h3=val
                                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            .card.content-plan
                #headingSeven.card-header(role='tab')
                  h2.mb-0
                      a.collapsed(data-toggle='collapse', href='#collapseSeven', aria-expanded='false', aria-controls='collapseSeven')
                          | 07. implementación de mobiliano
                          .accordion-ico
                              .horizontal
                              .vertical
                #collapseSeven.collapse(role='tabpanel', aria-labelledby='headingSeven', data-parent='#plans-accordion')
                  .card-body.box-plan
                      .row
                        .col-4
                          figure.single-process-img
                            img(src="images/process/proceso7.svg")
                        .col-8
                          .d-table
                            .d-table-cell
                              .single-process-content
                                h3=val
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            .card.content-plan
                #headingEight.card-header(role='tab')
                    h2.mb-0
                        a.collapsed(data-toggle='collapse', href='#collapseEight', aria-expanded='false', aria-controls='collapseEight')
                            | 08. planificación
                            .accordion-ico
                                .horizontal
                                .vertical
                #collapseEight.collapse(role='tabpanel', aria-labelledby='headingEight', data-parent='#plans-accordion')
                    .card-body.box-plan
                        .row
                          .col-4
                            figure.single-process-img
                              img(src="images/process/proceso2.svg")
                          .col-8
                            .d-table
                              .d-table-cell
                                .single-process-content
                                  h3=val
                                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            .card.content-plan
                #headingNine.card-header(role='tab')
                    h2.mb-0
                        a.collapsed(data-toggle='collapse', href='#collapseNine', aria-expanded='false', aria-controls='collapseNine')
                            | 09. control de calidad
                            .accordion-ico
                                .horizontal
                                .vertical
                #collapseNine.collapse(role='tabpanel', aria-labelledby='headingNine', data-parent='#plans-accordion')
                    .card-body.box-plan
                        .row
                          .col-4
                            figure.single-process-img
                              img(src="images/process/proceso9.svg")
                          .col-8
                            .d-table
                              .d-table-cell
                                .single-process-content
                                  h3=val
                                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            .card.content-plan
                #headingTen.card-header(role='tab')
                    h2.mb-0
                        a.collapsed(data-toggle='collapse', href='#collapseTen', aria-expanded='false', aria-controls='collapseTen')
                            | 10. cierre
                            .accordion-ico
                                .horizontal
                                .vertical
                #collapseTen.collapse(role='tabpanel', aria-labelledby='headingTen', data-parent='#plans-accordion')
                    .card-body.box-plan
                        .row
                          .col-4
                            figure.single-process-img
                              img(src="images/process/proceso10.svg")
                          .col-8
                            .d-table
                              .d-table-cell
                                .single-process-content
                                  h3=val
                                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            

    include includes/footer.pug
    script(src="js/servicios.js",type="text/javascript")
